<ul data-submenu-title="Account">
    <li><a href="/userprofile"><i class="icon-material-outline-settings"></i>Update User Profile</a></li>
    <li><a asp-controller="CompanyProfile" asp-action="CompanyProfile"><i class="icon-material-outline-settings"></i>Company Profile</a></li>
    <li><a href="/Identity/Account/Logout"><i class="icon-material-outline-power-settings-new"></i>Logout</a></li>
</ul>
