@model XpertAditusUI.Models.Questionnaire

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Edit Questionnaire</h1>
<hr />
<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="QuestionnaireId" />
    <div class="form-group">
        <label asp-for="QuestionText" class="control-label"></label>
        <input asp-for="QuestionText" class="form-control" />
        <span asp-validation-for="QuestionText" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="QuestionnaireType" class="control-label"></label>
        <select asp-for="QuestionnaireType" class="form-control">
            <option value="">---- Select Questionnaire Type ----</option>
            <option>Video</option>
            <option>Audio</option>
            <option>Text</option>
            <option>File</option>
        </select>
        <span asp-validation-for="QuestionnaireType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Option1" class="control-label"></label>
        <input asp-for="Option1" class="form-control" />
        <span asp-validation-for="Option1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Option2" class="control-label"></label>
        <input asp-for="Option2" class="form-control" />
        <span asp-validation-for="Option2" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Option3" class="control-label"></label>
        <input asp-for="Option3" class="form-control" />
        @*    <span asp-validation-for="Option3" class="text-danger"></span>*@
    </div>
    <div class="form-group">
        <label asp-for="Option4" class="control-label"></label>
        <input asp-for="Option4" class="form-control" />
        @*  <span asp-validation-for="Option4" class="text-danger"></span>*@
    </div>
    <div class="form-group">
        <label asp-for="CorrectAnswer" class="control-label"></label>
        <select asp-for="CorrectAnswer" class="form-control">
            <option value="">---- Select Correct Option ----</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <span asp-validation-for="CorrectAnswer" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Course" class="control-label"></label>
        <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>
        <span asp-validation-for="CourseId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TrainingContent" class="control-label"></label>
        <select asp-for="TrainingContentId" class="form-control" asp-items="ViewBag.TrainingContentId"></select>
        <span asp-validation-for="TrainingContentId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsActive" class="control-label"></label>
        <br>
        <input type="radio" asp-for="IsActive" value="True" />
        <label for="true">True</label>
        <input type="radio" asp-for="IsActive" value="False" />
        <label for="false">False</label>
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
    <div>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
