@page
@model XpertAditusUI.Areas.Identity.Pages.Account.ForgotUserNameConfirmationModel
@{
    ViewData["Title"] = "ForgotUserNameConfirmation";
}

<h1 style="font-size: 20px; font-weight: bold;">
    Forgot UserName Confirmation
</h1>
<p>Please check your email to reset your UserName.</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
