@page
@model XpertAditusUI.Areas.Identity.Pages.Account.ResetUserNameConfirmationModel
@{
    ViewData["Title"] = "ResetUserNameConfirmation";
}

<h1 style="font-size: 20px; font-weight: bold;">
    Reset UserName Confirmation
</h1>
<p>Your UserName has been reset .</p>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}