@model XpertAditusUI.Models.Disclaimer

@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>Disclaimer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Instruction" class="control-label"></label>
                <textarea style="width:100%" asp-for="Instruction" id="editor"></textarea>
                <span asp-validation-for="Instruction" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
            <label asp-for="Instruction" class="control-label"></label>-->
            @*<input asp-for="Instruction" class="form-control"  />   *@
            <!--<textarea asp-for="Instruction" namee="Instruction" rows="20" column="50"></textarea>
                <span asp-validation-for="Instruction" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <label for="true">True</label>
                <input type="radio" asp-for="IsActive" value="True" />
                <label for="false">False</label>
                <input type="radio" asp-for="IsActive" value="False" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="ModifiedBy" class="control-label"></label>
                    <select asp-for="ModifiedBy" class="form-control" asp-items="ViewBag.ModifiedBy"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ModifiedDate" class="control-label"></label>
                    <input asp-for="ModifiedDate" class="form-control" />
                    <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedBy" class="control-label"></label>
                    <select asp-for="CreatedBy" class="form-control" asp-items="ViewBag.CreatedBy"></select>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/RichTextEditor/ckeditor.js"></script>
    <script>
        //Editor
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
}
