@{
    ViewData["Title"] = "Import Courses";
}
@*<h1>@ViewData["Title"]</h1>*@




<!-- Dashboard Headline -->
<div class="dashboard-headline">
    <h3>Import Courses</h3>
    <hr />
    <h4 style="color:red">Mandatory Fields To Import CSV File i.e.,</h4>
    <li style="color:red">Name</li>
    <li style="color:red">Fee</li>
    <li style="color:red">Description</li>
    <li style="color:red">IsActive</li>
    <br />
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <input type="file" name="files" id="fUpload" class="form-control" />
            </div>
            <div class="col-md-8">
                <a type="button" id="btnUpload" asp-action="Index" class="btn btn-success"><i class="fa fa-upload"></i>Upload</a>
            </div>
        </div>

        <br />
    </form>

    <div>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnUpload').on('click', function () {
            var fileExtension = ['xls', 'xlsx'];
            var filename = $('#fUpload').val();
            if (filename.length == 0) {
                alert("Please select a file.");
                return false;
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    alert("Please select only excel files.");
                    return false;
                }
            }
            var fdata = new FormData();
            var fileUpload = $("#fUpload").get(0);
            var files = fileUpload.files;
            fdata.append(files[0].name, files[0]);
            $.ajax({
                type: "POST",
                url: '/Courses/Import',
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                data: fdata,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.length == 0)
                        alert('Some error occured while uploading');
                    else {
                        $('#dvData').html(response);
                    }
                },
                error: function (e) {
                    $('#dvData').html(e.responseText);
                }
            });
            alert(' Import Successfully');
        })
    });
</script>